input[type="number"] {
  width: 3em;
}
  
body {
  --light-grey-color: #F8F8F8;
  --mid-grey-color: #E5E5E5;
  background: url('/static/images/painting.png');
  background-position: center;
  background-size: cover;
  color: white;
}

.section {
  /* width: 80%; */
  /* margin-left: 10%;
  margin-right: 10%; */
  height: auto; 
  min-height: 700px;
  /* position: relative; */
  /* display: flex;  */
}

.content {
  margin-left: 10%;
  position: absolute;
}

#analysis1, #analysis2, #analysis3, #analysis4 {
  margin-left: 50%;
}

p, ul, li, a, h1 {
  font-family: 'EB Garamond';
  font-size: 20px;
}
