{% extends 'main.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

<!-- {% block header %}
    <h1 style="margin: 0 40%;">{% block title %}Poem{% endblock %}</h1>
{% endblock %} -->

{% block content %}
<div class="wrapper">
    <div class="section">
        <div id="randomize">
        </div>
        <div id="hide" style="display: none">
            <div id="analysis1" style="color: white; display: none">
                <p>America's Most Widely Misread Literary Work
                <br>
                <br>by Jackie Lay
                <br>
                <br><p id="1">Robert <span id="frost">Frost’s</span> poem "The Road Not Taken" is often
                <br>interpreted as an anthem of individualism and nonconformity,
                <br>seemingly encouraging readers to take the road less traveled.
                <br>This interpretation has long been propagated through countless
                <br>song lyrics, newspaper columns, and graduation speeches. But
                <br>as Frost liked to warn his listeners, "You have to be careful
                <br>of that one; it’s a tricky poem—very tricky." In actuality,
                <br>the two roads diverging in a yellow wood are "really about the same,
                <br>according to Frost, and are equally traveled and quite interchangeable.</p>
                <br>
                <br><p id="2">In fact, the critic David Orr deemed <span id="frost">Frost’s</span> work “the most 
                <br>misread poem in America,” writing in The Paris Review: “This 
                <br>is the kind of claim we make when we want to comfort or blame 
                <br>ourselves by assuming that our current position is the product 
                <br>of our own choices… The poem isn’t a salute to can-do individualism. 
                <br>It’s a commentary on the self-deception we practice when 
                <br>constructing the story of our own lives.” In the final stanza, we can’t
                <br>know whether the speaker is sighing with contentedness or regret as 
                <br>he justifies the choices he’s made and shapes the narrative of his life.</p>
                <br>
                <br><p id="3"><span id="frost">Frost</span> wrote the poem to tease his chronically indecisive friend, 
                <br>Edward Thomas, who misinterpreted the meaning and enlisted in 
                <br>the military shortly thereafter, only to be killed two years 
                <br>later in WWI.</p>
                <br>
                <br><p id="4">"The Road Not Taken" was originally published in The Atlantic
                <br>in 1915 along with two other poems from <span id="frost">Frost</span>. It is now widely
                <br>considered to be one of the most popular works of American literature.</p>
                </p>
            </div>
            <div id="analysis2" style="color: white; display: none">
                <p>Robert Frost and "The Road Not Taken"
                <br>
                <br>by Andrew Spacey
                <br>
                <br><p id="5">"The Road Not Taken" is an ambiguous poem that allows the reader to 
                <br>think about choices in life, whether to go with the mainstream or 
                <br>go it alone. If life is a journey, this poem highlights those times 
                <br>in life when a decision has to be made. Which way will you go?</p>
                <br>
                <br><p id="6">The ambiguity springs from the question of free will versus determinism, 
                <br>whether the speaker in the poem consciously decides to take the road that 
                <br>is off the beaten track or only does so because he doesn't fancy the 
                <br>road with the bend in it. External factors therefore make up his mind for him.</p>
                <br>
                <br><p id="7"></p>Robert <span id="frost">Frost</span> wrote this poem to highlight a trait of, and poke 
                <br>fun at, his friend Edward Thomas, an English-Welsh poet, who, when 
                <br>out walking with <span id="frost">Frost</span> in England would often regret not having taken 
                <br>a different path. Thomas would sigh over what they might have seen 
                <br>and done, and Frost thought this quaintly romantic.</p>
                <br>
                <br><p id="8">In other words, <span id="frost">Frost's</span> friend regretted not taking the road that 
                <br>might have offered the best opportunities, despite it being an unknown.</p>
                <br>
                <br><p id="9"><span id="frost">Frost</span> liked to tease and goad. He told Thomas: "No matter which road 
                <br>you take, you'll always sigh and wish you'd taken another." So it's 
                <br>ironic that Frost meant the poem to be light-hearted, but it turned 
                <br>out to be anything but. People take it very seriously.</p>
                <br>
                <br><p id="10">It is the hallmark of the true poet to take such everyday realities, 
                <br>in this case, the sighs of a friend on a country walk, and transform 
                <br>them into something so much more.</p>
                <br>
                <br><p id="11">All of Robert <span id="frost">Frost's</span> poems can be found in this exceptional 
                <br>book, The Collected Poems, which I use for all my analyses. It 
                <br>contains all of his classics and more. It's the most comprehensive 
                <br>collection currently on offer.</p>
                <br>
                <br><p id="12">"The Road Not Taken" is all about what did not happen: This 
                <br>person, faced with an important conscious decision, chose the 
                <br>least popular, the path of most resistance. He was destined to go 
                <br>down one, regretted not being able to take both, so he sacrificed 
                <br>one for the other.</p>
                <br>
                <br><p id="13">Ultimately, the reader is left to make up their own mind 
                <br>about the emotional state of the speaker at the end. Was the 
                <br>choice of the road less travelled a positive one? It certainly 
                <br>made "all the difference," but Frost does not make it clear 
                <br>just what this difference is.</p>
                </p>
            </div>
            <div id="analysis3" style="color: white; display: none">
                <p>The Most Misread Poem in America
                <br>
                <br>by David Orr
                <br>
                <br><p id="14"><span id="frost">Frost’s</span> poem turns this expectation on its head. Most readers 
                <br>consider “The Road Not Taken” to be a paean to triumphant self-assertion 
                <br>(“I took the one less traveled by”), but the literal meaning of the 
                <br>poem’s own lines seems completely at odds with this interpretation. 
                <br>The poem’s speaker tells us he “shall be telling,” at some point in 
                <br>the future, of how he took the road less traveled by, yet he has already 
                <br>admitted that the two paths “equally lay / In leaves” and “the passing 
                <br>there / Had worn them really about the same.” So the road he will later 
                <br>call less traveled is actually the road equally traveled. The two 
                <br>roads are interchangeable.</p>
                <br>
                <br><p id="15">According to this reading, then, the speaker will be claiming “ages 
                <br>and ages hence” that his decision made “all the difference” only 
                <br>because this is the kind of claim we make when we want to comfort 
                <br>or blame ourselves by assuming that our current position is the 
                <br>product of our own choices (as opposed to what was chosen for us 
                <br>or allotted to us by chance). The poem isn’t a salute to can-do 
                <br>individualism; it’s a commentary on the self-deception we practice 
                <br>when constructing the story of our own lives. “The Road Not Taken” 
                <br>may be, as the critic Frank Lentricchia memorably put it, “the best 
                <br>example in all of American poetry of a wolf in sheep’s clothing.” 
                <br>But we could go further: It may be the best example in all of 
                <br>American culture of a wolf in sheep’s clothing.</p>
                <br>
                <br><p id="16">In this it strongly resembles its creator. <span id="frost">Frost</span> is the only major 
                <br>literary figure in American history with two distinct audiences, 
                <br>one of which regularly assumes that the other has been deceived. 
                <br>The first audience is relatively small and consists of poetry 
                <br>devotees, most of whom inhabit the art form’s academic subculture. 
                <br>For these readers, <span id="frost">Frost</span> is a mainstay of syllabi and seminars, 
                <br>and a regular subject of scholarly articles (though he falls well 
                <br>short of inspiring the interest that Ezra Pound and Wallace 
                <br>Stevens enjoy). He’s considered bleak, dark, complex, and manipulative; 
                <br>a genuine poet’s poet, not a historical artifact like Longfellow or 
                <br>a folk balladeer like Carl Sandburg. While <span id="frost">Frost</span> isn’t the most 
                <br>esteemed of the early twentieth-century poets, very few dedicated 
                <br>poetry readers talk about him as if he wrote greeting card verse.</p>
                </p>
            </div>
            <div id="analysis4" style="color: white; display: none">
                <p>What Gives Robert Frost’s “The Road Not Taken” Its Power?
                <br>
                <br>David C. Ward
                <br>
                <br><p id="17"><span id="frost">Frost’s</span> gently presented point is not just that we are self-reliant 
                <br>or independent, but truly alone in the world. No one has cut a path 
                <br>through the woods. We are following no one. We have to choose, and 
                <br>most terrifyingly, the choice may not actually matter. One way is as 
                <br>good as the other and while we can console ourselves with wishful 
                <br>thinking – “I kept the first for another day!” – the poet knows 
                <br>that there’s no turning back to start over: “Yet knowing how way 
                <br>leads on to way/I doubted if I should ever come back.”</p>
                <br>
                <br><p id="18">The conditional tense doesn’t really apply here although Frost 
                <br>uses it to maintain the tone of regretfulness and nostalgia. 
                <br><span id="frost">Frost</span> knows, as the reader gradually intuits, that you won’t go 
                <br>back because you can’t. The determinism of a choice, way leading 
                <br>on to way, in a string of events that becomes a life is unescapable. 
                <br><span id="frost">Frost’s</span> popular appeal is all here in the layers of the poem, 
                <br>from the deceptively simple (yet masterfully rhyming) iambic lines 
                <br>to the evocation of mild regret of having made a seemingly innocuous 
                <br>choice. And then, the existential rug is pulled out from under your 
                <br>comfortably situated feet with the revelation that you have to 
                <br>make your own road – and it may not be of your choosing.</p>
                <br>
                <br><p id="19">It’s the last stanza, though, that makes <span id="frost">Frost</span> into a genius, 
                <br>both poetically but also in his insight into human character, 
                <br>story telling and literature. The stanza is retrospective as 
                <br>the traveler/poet looks back on his decision – “ages and ages hence” 
                <br>– and comments how we create a life through the poetic fictions 
                <br>that we create about it to give it, and ourselves, meaning. The 
                <br>story that the poet will tell is that:
                <br>
                <br>"Two roads diverged in a wood, and I
                <br>I took the one less traveled by,
                <br>And that has made all the difference."</p>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}