{% extends 'main.html' %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

<!-- {% block header %}
    <h1 style="margin: 0 40%;">{% block title %}Poem{% endblock %}</h1>
{% endblock %} -->

{% block content %}
<div class="wrapper">
    <div class="section">
        <div class="content">
            <h1>The Road Not Taken</h1>
            <p id="poem">by Robert Frost
            <br>
            <br>Two roads diverged in a yellow wood,
            <br>And sorry I could not travel both
            <br>And be one traveler, long I stood
            <br>And looked down one as far as I could
            <br>To where it bent in the undergrowth;
            <br>
            <br>Then took the other, as just as fair,
            <br>And having perhaps the better claim,
            <br>Because it was grassy and wanted wear;
            <br>Though as for that the passing there
            <br>Had worn them really about the same,
            <br>
            <br>And both that morning equally lay
            <br>In leaves no step had trodden black.
            <br>Oh, I kept the first for another day!
            <br>Yet knowing how way leads on to way,
            <br>I doubted if I should ever come back.
            <br>
            <br>I shall be telling this with a sigh
            <br>Somewhere ages and ages hence:
            <br>Two roads diverged in a wood, and I—
            <br>I took the one less traveled by,
            <br>And that has made all the difference.</p>
        </div>
        <div id="analysis" style="color: white; display: none">
            <p>America's Most Widely Misread Literary Work
            <br>
            <br>by Jackie Lay
            <br>
            <br>Robert Frost’s poem "The Road Not Taken" is often
            <br>interpreted as an anthem of individualism and nonconformity,
            <br>seemingly encouraging readers to take the road less traveled.
            <br>This interpretation has long been propagated through countless
            <br>song lyrics, newspaper columns, and graduation speeches. But
            <br>as Frost liked to warn his listeners, "You have to be careful
            <br>of that one; it’s a tricky poem—very tricky." In actuality,
            <br>the two roads diverging in a yellow wood are "really about the same,
            <br>according to Frost, and are equally traveled and quite interchangeable.
            <br>
            <br>In fact, the critic David Orr deemed Frost’s work “the most 
            <br>misread poem in America,” writing in The Paris Review: “This 
            <br>is the kind of claim we make when we want to comfort or blame 
            <br>ourselves by assuming that our current position is the product 
            <br>of our own choices… The poem isn’t a salute to can-do individualism. 
            It’s a commentary on the self-deception we practice when 
            <br>constructing the story of our own lives.” In the final stanza, we can’t
            <br>know whether the speaker is sighing with contentedness or regret as 
            <br>he justifies the choices he’s made and shapes the narrative of his life.
            <br>
            <br>Frost wrote the poem to tease his chronically indecisive friend, 
            <br>Edward Thomas, who misinterpreted the meaning and enlisted in 
            <br>the military shortly thereafter, only to be killed two years 
            <br>later in WWI.
            <br>
            <br>"The Road Not Taken" was originally published in The Atlantic
            <br>in 1915 along with two other poems from Frost. It is now widely
            <br>considered to be one of the most popular works of American literature.
            </p>
        </div>
    </div>
</div>
{% endblock %}